.container {
  position: relative;
  width: 100%;
  background-color: #1c2541;
  padding: 32px 32px;
  margin: 32px;
  border-radius: 10px;

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  animation: slide-down forwards 1s;
}

.btn-back {
  font-size: 16px;
  text-transform: uppercase;

  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #5bc0be;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #5bc0be;
}

.btn-back:hover {
  background-color: #5bc0be;
  color: #0b132b;
}

.spinner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  margin: 200px 8px;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
