.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 2fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid h2 {
  display: inline;
  margin-left: 12px;
}

.graph-container {
  grid-column: 1/-1;
}

.pos {
  color: #69db7c;
}

.neg {
  color: #fa5252;
}

.change-container {
  justify-self: center;
  text-align: center;
}
