.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container input {
  width: 300px;
  font-size: 16px;
  font-family: inherit;
  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 50px;
  color: #fff;
  padding: 15px 30px;
}

.container input::placeholder {
  color: var(--accent);
}

.container button {
  font-size: 16px;
  text-transform: uppercase;

  background-color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--accent);
}

.container button:hover {
  background-color: var(--accent);
  color: var(--background);
}

.container button.shown {
  background-color: var(--accent);
  color: var(--background);
}
.container button.shown:hover {
  background-color: var(--background);
  color: var(--accent);
}

@media screen and (max-width: 1200px) {
  .container button,
  .container input {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .container input {
    width: 150px;
    font-size: 12px;
    padding: 10px 20px;
  }
  .container button {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .container input {
    width: 100%;
    font-size: 12px;
    padding: 10px 20px;
  }
  .container {
    flex-direction: column;
    gap: 12px;
  }
}
