.container {
  width: 100%;
  background-color: #1c2541;
  padding: 32px 0;
  margin: 32px 0;
  border-radius: 10px;

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.error-msg {
  display: block;
  text-align: center;
  font-weight: 500;
  margin-top: 32px;
}

.spinner {
  display: inline-block;

  margin: 200px 8px;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
