.container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.container button {
  height: 48px;
  width: 48px;
  background-color: transparent;
  border: 1px solid #5bc0be;
  color: #5bc0be;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.container button:hover {
  background-color: #5bc0be;
  color: #000;
}

@media screen and (max-width: 700px) {
  .container button {
    height: 36px;
    width: 36px;
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    grid-row: 2;
    grid-column: 1/-1;
  }
}
